html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(157, 224, 239, 0.67) 0.1%,
    rgba(239, 249, 251, 0.63) 90.1%
  );
  background-attachment: fixed;
}

form,
h1,
ul,
p,
footer {
  text-align: center;
}

h1,
input,
ul {
  font-family: "Poiret One", sans-serif;
  letter-spacing: 2px;
}

p,
footer {
  font-family: "DM Mono", monospace;
}

.city-text-input,
.city-search-input {
  padding: 7px 10px;
  border-radius: 7px;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.fahrenheit,
.celsius {
  font-size: 17px;
}

h1 {
  font-size: 36px;
}

li {
  font-weight: bold;
}

p {
  margin: 0;
  line-height: 1.5;
  font-size: 15px;
}

.app-container {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 7px;
  background-image: url(dandelion-image.jpg);
  background-size: cover;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
}

.weather-info-container {
  background-color: rgba(244, 251, 252, 0.3);
  border-radius: 20px;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
}

.city-text-input {
  width: 50%;
  border: 1px solid #fff;
}

.city-search-input {
  font-size: 14px;
  background-color: #b4e1f9;
  border: 1px solid #b4e1f9;
}

.flex-style {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.current-temperature {
  font-size: 42px;
}

/* .dm-mono-light {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.dm-mono-medium {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.dm-mono-light-italic {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.dm-mono-regular-italic {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.dm-mono-medium-italic {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: italic;
}
*/
