html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(
    circle at 10% 20%,
    rgba(157, 224, 239, 0.67) 0.1%,
    rgba(239, 249, 251, 0.63) 90.1%
  );
  background-attachment: fixed;
}

form,
h1,
ul,
p,
footer,
.forecast-flex-style {
  text-align: center;
}

.app-container,
.my-location,
.weather-info-container,
.city-text-input,
.city-search-input {
  box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.2);
}

.app-container,
.my-location,
.city-text-input,
.city-search-input {
  border-radius: 7px;
}

h1,
h3,
input,
ul {
  font-family: "Poiret One", sans-serif;
  letter-spacing: 2px;
}

p,
footer,
.my-location {
  font-family: "DM Mono", monospace;
}

li,
.city-text-input,
.city-search-input {
  font-weight: bold;
}

.my-location,
.city-text-input,
.city-search-input {
  padding: 7px 10px;
}

.fahrenheit-link:hover,
.celsius-link:hover,
.github-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

h3,
.forecast-temperature {
  font-size: 21px;
}

.weather-info-container,
.forecast-flex-style {
  background-color: rgba(244, 251, 252, 0.3);
  border-radius: 20px;
}

.my-location,
.city-search-input {
  background-color: #b4e1f9;
  border: 1px solid #b4e1f9;
}

h1 {
  font-size: 36px;
}

p {
  margin: 0;
  line-height: 1.5;
  font-size: 15px;
}

.app-container {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #fff;
  background-image: url(dandelion-image.jpg);
  background-size: cover;
}

.weather-info-container {
  max-width: 500px;
  margin: 0 auto;
}

.my-location {
  font-size: 12px;
  position: relative;
  top: 32px;
}

.city-text-input {
  width: 50%;
  border: 1px solid #fff;
}

.city-search-input {
  font-size: 14px;
}

.flex-style {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.current-temperature {
  font-size: 42px;
}

.units {
  font-size: 17px;
}

.weather-icon {
  height: 40px;
  width: 40px;
  position: relative;
  top: 12px;
  right: 5px;
}

.forecast-flex-style {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}

h3 {
  margin-bottom: 10px;
}

.forecast-weather-icon {
  height: 55px;
  width: 55px;
}

.github-link {
  color: #000;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

footer {
  margin-top: 15px;
}
